/* CSS VARIABLES */

:root {
    --step--2: clamp(3.13rem, 5.13rem, 5.76rem);
    --step--1: clamp(3.75rem, 6.38rem, 7.2rem);
    --step-0: clamp(4.5rem, 7.93rem, 9rem);
}

.marquee {
    border-bottom: 1px solid #1a1a1a;
    color: #ccc;
    font-size: var(--step-0);
    font-weight: 700;
    height: calc(170px + 4rem);
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.marquee img {
    object-fit: cover;
    max-height: 150px;
}

.track {
    height: 100%;
    overflow: hidden;
    padding: 2rem 0;
    position: absolute;
    white-space: nowrap;
}

.track .text {
    animation: marquee 50000ms linear infinite;
    align-items: center;
    display: inline-flex;
    will-change: transform;
}

.-focus {
    color: #1a1a1a;
    font-weight: 900;
}

.screen {
    margin-top: 600px !important;
    margin-bottom: 700px !important;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-3d {
    position: relative;
    perspective: 20vw;
    transform-style: preserve-3d;
}

.fold {
    overflow: hidden;
    width: 100vw;
    height: 80vh;
}

.fold-top {
    position: absolute;
    transform-origin: bottom center;
    left: 0;
    right: 0;
    bottom: 100%;
}

.fold-center {
    width: 100vw;
}

.fold-bottom {
    position: absolute;
    transform-origin: top center;
    right: 0;
    left: 0;
    top: 100%;
}

.fold-align {
    width: 100%;
    height: 100%;
}

.fold-bottom .fold-align {
    transform: translateY(-100%);
}

.fold-top .fold-align {
    transform: translateY(100%);
}

.fold-bottom {
    transform-origin: top center;
    transform: rotateX(120deg);
}

.fold-top {
    transform-origin: bottom center;
    transform: rotateX(-120deg);
}

:root {
    --primary: #141414;
    --light: #f3f3f3;
    --dark: #686868;
}

#drag-container,
#spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
    margin-bottom: 400px !important;
}

#drag-container img,
#drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover,
#drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff;
}

#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient( center center, farthest-side, #9993, transparent);
}

#music-container {
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}


/* CSS RESET */

html:hover span,
body:hover span {
    display: none;
}

canvas {
    cursor: crosshair;
}

span {
    font-family: "Georgia", cursive;
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #000;
    margin-top: -40px;
    margin-left: -200px;
}

@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
html,
body {
    font-family: "Roboto Mono", monospace;
    background: #212121;
    height: 100%;
}

.at {
    transition: 1s ease all;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

@media (max-width: 700px) {
    .comienzo {
        background: black !important;
        height: 100vh !important;
        background: linear-gradient( to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)) !important;
        margin-top: 10vh !important;
        padding: 30px !important;
    }
    .comienzo h1 {
        margin-top: 19vh !important;
        font-size: 30px !important;
        text-align: left !important;
    }
}

nav {
    z-index: 1;
}

.uuuu {
    z-index: 999999;
    width: 100% !important;
    height: 140% !important;
    background: #201e26;
    margin-top: 770px;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    font-weight: 100;
    font-size: 34px;
    color: #fafafa;
}

.dud {
    color: #757575;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
}

.al {
    margin-top: 150px !important;
}

h3 {
    margin-top: 200px !important;
}

.verr {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 200px;
}

.verr2 {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 200px;
    color: white;
    margin-left: 30px;
    background: rgba(255, 255, 255, 0.3);
}

.aa {
    margin-top: 20px;
}

.txt1 {
    font-weight: bold;
}

.nnnn {
    border-radius: 10px;
}

.comienzo {
    height: 100vh !important;
    margin-top: 40px;
}

.osu a {
    color: white !important;
    text-decoration: none;
}

h1 {
    font-size: 60px !important;
    font-family: "arial", sans-serif;
}

.navbar-text {
    margin-right: 30px !important;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/cambio.jpg");
    background-repeat: no-repeat;
    color: var(--light) !important;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: right;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 200px;
    font-weight: bold !important;
    font-size: 40px !important;
}

.wrapper {
    margin-top: -293px !important;
    padding: 0;
    margin-bottom: 200px !important;
}

.todolist {
    margin-top: 200px !important;
    margin-bottom: 200px !important;
}


/* HEADER */

header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "nt mn mn sb . . . ";
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;
}

.netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    padding-left: 30px;
    padding-top: 0px;
}

.netflixLogo img {
    height: 35px;
}

#logo {
    color: #e50914;
    margin: 0;
    padding: 0;
}

.main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
}

.main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
}

.main-nav a:hover {
    color: var(--dark);
}

.sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
}

.sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
}

.sub-nav a:hover {
    color: var(--dark);
}


/* MAIN CONTIANER */

.main-container {
    background: black;
    padding-left: 100px;
    padding-right: 100px;
}

.box {
    font-weight: bold;
    display: grid;
    grid-gap: 20px;
    background: black !important;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.box a {
    transition: transform 0.3s;
}

.box a:hover {
    transition: transform 0.3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.box img {
    border-radius: 14px;
}


/* LINKS */

.link {
    padding: 50px;
}

.sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
    color: var(--dark);
    text-decoration: none;
}

.sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
}

.logos a {
    padding: 10px;
}

.logo {
    color: var(--dark);
}


/* FOOTER */

footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
}


/* MEDIA QUERIES */

@media (max-width: 900px) {
    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "nt nt nt  .  .  . sb . . . " "mn mn mn mn mn mn  mn mn mn mn";
    }
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
    .main-container {
        text-align: center !important;
        margin-top: 200px !important;
        background: black !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (max-width: 700px) {
    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "nt nt nt  .  .  . sb . . . " "mn mn mn mn mn mn  mn mn mn mn";
    }
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .wrapper {
        font-size: 15px;
    }
    header {
        margin: 0;
        padding: 20px 0 0 0;
        position: static;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "nt" "mn" "sb";
        text-align: center;
    }
    .netflixLogo {
        max-width: 100%;
        margin: auto;
        padding-right: 20px;
    }
    .main-nav {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    h1 {
        text-align: center;
        font-size: 18px;
    }
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .box a:hover {
        transition: transform 0.3s;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1.2);
    }
    .logos {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        font-size: 15px;
    }
}